
section
	p Экспрессивное поведение используется при создании различных знаков.
	hr
	img(src="assets/shooting-allowed.png")
	p: i Знак "фотографировать разрешено"

section
	img(src="assets/sochi-wc.jpg", height="80%")
	p: i Знаки, используемые на олимпиаде Сочи-2014
