
h2 Культурные различия
p Всегда ли представители одной культуры могут правильно понять, что означают те или иные жесты другой культуры?

.fragment
	hr
	p Конечно же, нет.
	img(src="assets/pinkie-pie-hooves.gif", height="40%")
	p: i Что означает этот жест?
