
h3 Что влияет на правильное распознавание экспрессивного поведения?
p От каких факторов зависит способность правильно определить, какой эмоции соответствует то или иное поведение?

ul
	li.fragment Различие или схожесть культур?
	li.fragment Различие или схожесть рас?
	li.fragment Раса?
	li.fragment Физические особенности человека, выражающего эмоции?
	li.fragment Конкретная эмоция?

p.fragment: b Всё вышеперечисленное
