
h3 А что влияет на выражение эмоций?
p Конечно же, то, настоящие это эмоции или наигранные. А ещё?

ul.fragment
	li Культурные особенности - например, в культуре может быть принято снижение или повышение интенсивности выражения той или иной эмоции.
	li А, например, японцы в присутствии наблюдателя практически не выражают свои эмоции. Что не мешает им это делать, когда они не знают о присутствии наблюдателя.

