
section
	h2 Примеры проблем в изучении экспрессии

	ul
		li Представители культуры Dani (Новая Гвинея) не проводят различия между злостью и отвращением.
		li
			:markdown
				Представители культуры South Fore (Новая Гвинея) не проводят различия между страхом и удивлением. 
				Правильное определение одной из этих двух эмоции по её проявлению - проблема и для представителей западной культуры!
		li Культурные ограничения и нормы: например, японцы скрывают отрицательные эмоции, улыбаясь даже после неприятных событий.

section
	ul
		li Если мы пытаемся найти различие между культурами, результаты могут искажаться из-за проникновения западной культуры в остальные продвинутые (в частности, распространением голливудских фильмов).
		li Обычно люди испытывают более одного чувства одновременно.
		li
			:markdown
				В рамках одной и той же эмоции существуют более тонкие различия.
				Пример Berry: ребёнок посетил какое-то "запрещённое" место и скрыл это от отца; отец разозлился и наказал ребёнка.
				В одной культуре злость может быть вызвана опасением за безопасность ребёнка в запрещённом месте.
				В другой - тем, что ребёнок не послушался отца.
				В третьей - тем, что ребёнок солгал отцу.
