
h2 Решения проблем

ul
	li Просим респондента не выбрать одну эмоцию для изображения, а указать интенсивность каждой возможной эмоции.
	li Объединяем несколько эмоций в одну (например, Экман объединял результаты для страха и удивления).
	li Просим распознать выражаемые белыми эмоции представителей культур, слабо взаимодействующих с западным миром (например, племён Новой Гвинеи).
