
h3 Проводившиеся эксперименты
ul
	li Beaupré M., Hess U.: распознавание эмоций по снимкам в группе жителей Канады: белых, афроканадцев в первом поколении, азиатоканадцев в первом поколении.
	li Пол Экман: распознавание эмоций по снимкам между американцами и племенем Dani (Новая Гвинея), между американцами и племенем South Fore (Новая Гвинея).
	li Пол Экман: распознавание эмоций в группе из десяти культур (включая эстонцев, турков и японцев).
	li Матсумото: изучение экспрессии японцев.
