
section
	h2 Проявления основных эмоций:

section
	h3 Счастье
	p: img(src="assets/emotions-happiness.jpg", height="70%")

section
	h3 Безмятежность
	p: img(src="assets/emotions-serenity.jpg", height="70%")

section
	h3 Гнев
	p: img(src="assets/emotions-anger.png", height="70%")

section
	h3 Грусть
	p: img(src="assets/emotions-sadness.png", height="70%")

section
	h3 Страх
	p: img(src="assets/emotions-fear.png", height="70%")

section
	h3 Удивление
	p: img(src="assets/emotions-surprise.png", height="70%")

section
	h3 Отвращение
	p: img(src="assets/emotions-disgust.png", height="70%")

section
	h3 Презрение
	p: img(src="assets/emotions-disdain.png", height="70%")

section
	h3 Стыд
	p: img(src="assets/emotions-shame.png", height="70%")

section
	h3 Замешательство
	p: img(src="assets/emotions-embarrassment.png", height="70%")

