
section
	h2 Результаты
	p В целом, базовые эмоции достаточно хорошо распознаются даже в случае, когда выражающий и распознающий принадлежат к разным культурам.
	p: b Даже смешанные эмоции!

section
	p Вероятность правильного ответа незначительно выше в случае, когда они принадлежат к одной культуре.

	p: img(src="assets/obama-romney.jpg", height="60%")

section
	p Тем не менее, эмоции, выражаемые американцами, распознаются ещё лучше.

	p: img(src="assets/joker.jpg", height="60%")

section
	p Культура накладывает на её носителей дополнительные ограничения:

	ul
		li Снижение интенсивности выражения некоторых эмоций (характерно для коллективных культур для отрицательных эмоций).
		li Повышение интенсивности выражения некоторых эмоций.
		li Сокрытие (человек выглядит нейтрально, несмотря на испытываемые им эмоции).
		li Маскировка (человек делает вид, что испытывает не те эмоции, которые на самом деле).

section
	p Например, в Японии интенсивность выражения отрицательных эмоций - гораздо ниже, чем в других культурах.

	p: i Хотя в последнее время ситуация меняется.

	p: img(src="assets/japanese-hysterical.png", height="50%")

section
	p В некоторых культурах проявления "близких" эмоций различаются хуже, чем в других. Это:

	ul
		li Страх, удивление
		li Злость, отвращение, презрение
		li Стыд, замешательство

	p Возможно, часть этих эмоций некорректно называть базовыми?

	p: img(src="assets/nina.jpg", height="50%")

section
	p Качество распознавания эмоций также зависит от внешности конкретного человека.

	p Например, брови помогают определить удивление:

	p
		img(src="assets/lennier.jpg", width="45%")
		|  
		img(src="assets/londo.jpg", width="45%")

section
	p Разработана система FACS кодирования выражений лица движениями отдельных мускулов (Экман)

	p: img(src="assets/facs.gif", height="60%")
