
h2 Источники
ul
	li: small
		:markdown
			Beaupré M., Hess U.
			[Cross-cultural emotion recognition among Canadian ethnic groups](http://www.psychophysiolab.com/uhess/pubs/BH05.pdf)
			// J. of Cross-Cultural Psychology. 2005. Vol. 36. P. 355-370.
	li: small
		:markdown
			Berry J. W., Poortinga Y. H., Segall M. H., Dasen P. R.
			[Cross-cultural psychology: Research and applications](http://uploadss.s3.amazonaws.com/cross-culturepsychology-u-1289822692945-b-u.pdf)
			Cambridge, 2002.
	li: small
		:markdown
			Ekman P., Friesen W. V.
			[The Repertoire Of Nonverbal Behavior Categories, origins, usage, and coding](http://web.archive.org/web/20101228081550/http://www.paulekman.com/wp-content/uploads/2009/02/The-Repertoire-Of-Nonverbal-Behavior-Categories-Origins-.pdf)
			// Semiótica. 1969. Vol. 1. P. 49-98.
	li: small
		:markdown
			Ekman P.
			[Universals And Cultural Differences In The Judgment Of Facial Expressions of Emotion](http://web.archive.org/web/20101228081550/http://www.paulekman.com/wp-content/uploads/2009/02/Universals-And-Cultural-Differences-In-The-Judgment-Of-Facia.pdf)
			// Nebraska symposium on motivation, 1971. Lincoln, 1972. P. 207—283.
	li: small
		:markdown
			Крейдлин Г.Е.
			Невербальная семиотика: Язык тела и естественный язык.
			М., 2002.
	li: small
		:markdown
			Крейдлин Г. Е.
			[Невербальные приветствия и прощания в разных культурах](http://www.mccme.ru/llsh/2007/papers/Kreyd2007-1.pdf)
	li: small
		:markdown
			Крейдлин Г. Е., Переверзева С.
			[Тело в русском языке и в русской культуре](http://www.mccme.ru/llsh/2007/papers/Kreyd_Perev2007.pdf)
			(проект Института лингвистики)
	li: small
		:markdown
			Лабунская В. А.
			Экспрессия человека: общение и межличностное познание.
			Ростов-на-Дону, 1999.
